**/bin/
**/obj/
**/.vs/

PaleSlumber/PaleSlumber/images/fast.png
PaleSlumber/PaleSlumber/images/next.png
PaleSlumber/PaleSlumber/images/pause.png
PaleSlumber/PaleSlumber/images/play.png
PaleSlumber/PaleSlumber/images/prev.png
PaleSlumber/PaleSlumber/images/rollback.png
PaleSlumber/PaleSlumber/images/stop.png